<div layout="vertical" layout-fill>

    <header ng-include="'components/navbar/navbar.html'"></header>

    <md-content class="page">

        <section class="time-group" ng-repeat="group in timers">

            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2>{{group.title}}</h2>
                    <span flex></span>
                    <form class="timer-update" ng-submit="updateTimer()">
                        <md-input-container>
                            <label>Time:</label>
                            <input type="time" ng-model="group.time">
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised" type="submit" aria-label="Update Timer for {{group.title}}">Update</md-button>
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>

            <div layout="row" layout-fill layout-margin>
                <md-card flex ng-repeat="item in group.times">
                    <h3>{{item.title}}</h3>
                    <h4>
                        <timer class="{{group.ident}}" end-time="group.time.getTime() + item.time">{{hours}}:{{mminutes}}:{{sseconds}}</timer>
                    </h4>
                </md-card>
            </div>

        </section>

    </md-content>

</div>
