<div layout="vertical" layout-fill>

    <header ng-include="'components/navbar/navbar.html'"></header>

    <md-content>

        <section class="time-group" ng-repeat="group in timers">

            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2>{{group.title}}</h2>
                </div>
            </md-toolbar>

            <div layout="row" layout-fill layout-margin>
                <md-card flex ng-repeat="timer in group.times">
                    <h3>{{timer.title}}</h3>
                    <h4>
                        <timer end-time="timer.time">{{hours}}:{{mminutes}}:{{sseconds}}</timer>
                    </h4>
                </md-card>
            </div>

        </section>

    </md-content>

</div>
